{% if pageCount > 1 %}
    <div class="pagination">
        <ul>
            {% if previous is defined %}
                <li class="previous">
                    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}" class="fui-arrow-left"></a>
                </li>
            {% endif %}

            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="">
                        <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                    </li>
                {% else %}
                    <li class="active">{{ page }}</li>
                {% endif %}

            {% endfor %}

            {% if next is defined %}
                <li class="next">
            <a href="{{ path(route, query|merge({(pageParameterName): next})) }}"  class="fui-arrow-right"></a>
        </li>
            {% endif %}

           {# {% if last is defined and current != last %}
                <span class="last">
            <a href="{{ path(route, query|merge({(pageParameterName): last})) }}">&gt;&gt;</a>
        </span>
            {% endif %}#}
        </ul>
    </div>
{% endif %}
